
    <div class="container" style="padding-top:100px;">
            <div class="text-center padding">
                <img src="/site_media/static/logo.png">
            </div>
            <div class="text-center" style="padding:20px;">
                    
                            <a id="mapa_a" class="label label-primary"                                   
                                href="{% url 'map'%}?&q={{q}}{%for i in estados%}&estados={{i}}{%endfor%}">  <i class="glyphicon glyphicon-globe"></i> Mapa </a>
                            <a id="list_a" class="label label-primary" 
                                    href="{% url 'start'%}?&q={{q}}{%for i in estados%}&estados={{i}}{%endfor%}"> <i class="glyphicon glyphicon-list-alt"></i> Lista </a>

                </div>

        <div class="row text-center">
            

            <form action="" id="form_search">
               <div class="input-padding">
                <input type="text" name="q" placeholder="Buscar" value="{{q}}">
                </div>
                <div class="input-padding">
                     <select id="select_estados" name="estados" multiple data-placeholder="Escribe un estado" class="chosen-select">
                    {%for estado in global_estados %}
                    <option value="{{estado.id}}">

                        {{ estado.nombre }}

                    </option>
                    {% endfor %}
                    </select>
                </div>
                <div>
                    
                      <button class="btn btn-info" type="submit">   <i class="glyphicon glyphicon-search"></i> Buscar </button>
                    <button id="reset" class="btn btn-info" > 
                          <i class="glyphicon glyphicon-repeat"></i>
                    </button>
                </div>
            </form>
            

        </div>
    </div>





