{% extends "site_base.html" %}

{% load i18n pinax_ratings_tags pinax_comments_tags %}

{% block head_title %}pinax-project-account{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
<div class="container">
          <div class="row ">
             {% include "_search.html" %}
			</div>

{% if page_obj.object_list %}
        <div class="row">
        <table class="table">
          <tr>
            <th>
              Título
            </th>
            <!-- th>
              Valido
            </th-->
            <!-- th>
              Fecha creación
            </th-->
            <th>
              Ubi.
            </th>
            <th>
              Calif.
            </th>
            <th>
              Comentarios
            </th>
          </tr>

            {% for entry in page_obj.object_list %}
              <tr>
            <td>
              <a href="{% url 'detail' entry.id %}">{{entry.title}}</a>
            </td>
            <!--td>
              {{entry.valid|yesno}}
            </td-->
            <!--td>
              {{entry.created_at}}
            </td-->
              <td>
              {{entry.get_location}}
            </td>
            <td>
              {% overall_rating entry as the_overall_rating %}
              <span class="overall_rating">{{ the_overall_rating }}</span>
            </td>
            <td>
              {% comment_count entry %}
            </td>
                  </tr>
                {% endfor %}

        </table>

            </div>



          <div class="pagination text-center">
              <span class="step-links">
                  {% if page_obj.has_previous %}
                      <a href="?page={{ page_obj.previous_page_number }}&q={{q}}{%for i in estados%}&estados={{i}}{%endfor%}">Anterior</a>
                  {% endif %}

                  <span class="current">
                      Pag: {{ page_obj.number }}

                  </span>

                  {% if page_obj.has_next %}
                      <a href="?page={{ page_obj.next_page_number }}&q={{q}}{%for i in estados%}&estados={{i}}{%endfor%}">Siguiente</a>
                  {% endif %}
              </span>
          </div>
          </div>
{% else %}
{% comment %}
    
<section>
    <div class="container">
        <div class="row">
                <h3>No se encontraron resultados </h3>
        </div>
    </div>
</section>
{% endcomment %}
{% endif %}

        </div>


{% endblock %}
{% block scripts %}
 {{block.super}}

<script>
    
    $(document).ready(function(){
        $("#list_a").addClass("btn-default");

    });
</script>  
{% endblock %}
