{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}pinax-project-account{% endblock %}

{% block body_class %}map{% endblock %}

{% block body_base %}



  <section id="app">
        <div class="container">

          <div class="row ">
          {%if not search %}
                    {% include "_search.html" %}
            {% endif %}
          </div>
            
            
        </div>


        <div class="container" style="padding-top:30px;">
            <div class="thumbnail">
            
            <div id="map_custom">
            </div>
            </div>
        </div>
    </section>


  <script type="text/javascript">
    var markers={{markers|safe}};
    var URL_DETAIL = "{% url 'detail_json' %}"
  </script>
  <style media="screen">
  .cluster{
    color: #FFFFFF;
    text-align:center;
    font-family: 'Arial, Helvetica';
    font-size:11px;
    font-weight:bold;
    cursor: pointer;
  }
  .cluster-1{
    background-image:url(https://raw.githubusercontent.com/jbdemonte/gmap3/master/src/examples/images/m1.png);
    line-height:53px;
    width: 53px;
    height: 52px;
  }
  .cluster-2{
    background-image:url(https://raw.githubusercontent.com/jbdemonte/gmap3/master/src/examples/images/m2.png);
    line-height:53px;
    width: 56px;
    height: 55px;
  }
  .cluster-3{
    background-image:url(https://raw.githubusercontent.com/jbdemonte/gmap3/master/src/examples/images/m3.png);
    line-height:66px;
    width: 66px;
    height: 65px;
  }
  </style>

{% endblock %}

{% block scripts %}
    {% include "_mapscript.html" %}

<script>
    
    $(document).ready(function(){
        $("#mapa_a").addClass("btn-default");

    });
</script>  
{% endblock %}
