{% extends "site_base.html" %}

{% load i18n pinax_comments_tags bootstrap_tags pinax_ratings_tags search_tags  %}

{% block head_title %}pinax-project-account{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}

    <section>
        <div class="container">

            {% if request.user.is_authenticated and request.user.is_superuser %}
            <div class="row ">
              <div class="alert alert-warning">
                <p>
                  Tu usuario puede validar entrada: <a href="{% url 'admin:search_entry_change' entry.id %}">Editar en el admin</a> <br>
                  Entrada válida: {{entry.valid|yesno}}
                </p>
              </div>

            </div>

            {% endif %}

            <h1>{{entry.title}}</h1>
            <div class="row top-buffer">
              <div class="text-center">
                    <img src="{{entry.image}}" alt="{{entry.title}}" />
                </div>
                    <div class="">
                      <h3>{{entry.wordlist}}</h3>
                    </div>
                </div>
                <div class="row">
                      <div class="col-md-4 col-sm-4">
                      ¿ Es válido ? {{entry.valid|yesno}}
                    </div>
                      <div class="col-md-4 col-sm-4">
                        {% overall_rating entry as the_overall_rating %}


                          Calificación de usuarios: <span class="overall_rating">{{ the_overall_rating }}</span>
                          <div id="user_rating"></div>
                      </div>
                      <div class="col-md-4 col-sm-4">
                        <a href="#comentarios" class="btn btn-small">Ir a comentarios</a>
                      </div>

                </div>


              <p class="top-buffer">
                {{ entry.content|highlight:entry.locations_text|highlight2:entry.wordlist|linebreaksbr|safe}}
                
              </p>
            <div class="top-buffer">
              Fuente: <a href="{{entry.url}}">{{entry.url}}</a>
            </div>
            <div class="top-buffer">
            Ubicación:  {{entry.locations_text}}
            </div>
            <div class="row top-buffer ">
                <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Mostrar ubicaciones
  </a>
                <div class="collapse" id="collapseExample">
                    <div class="well">
                        <ul>
                            {% if entry.locations.all %}
                                
                            
                              {% for loc in entry.locations.all %}
                               {% ifchanged %}
                              <li>{{loc.nombre}} {{loc.mx_estado.nombre}}</li>
                               {% endifchanged %}
                              {% endfor %}
                            {% else %}
                                
                          {% endif %}
                        </ul>
                    </div>
                </div>
            </div>

              {% comment_form entry as comment_form %}
              {% comments entry as comments_entry %}
            <div class="row top-buffer" id="comentarios">
                    <div class="panel panel-default widget">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-comment"></span>
                            <span class="panel-title">
                                Comentarios recientes </span>
                            <span class="label label-info">
                                 {% comment_count entry %}
                            </span>
                        </div>
                        <div class="panel-body">
                          {% if request.user.is_authenticated %}
                          <div class=" top-buffer">
                            <form method="post" action="{% comment_target entry %}">
                            {% csrf_token %}
                            {{ comment_form|as_bootstrap }}
                            <div class="form-actions">
                              <button type="submit" class="btn btn-primary">Enviar</button>
                            </div>
                            </form>
                          </div>

                            {% endif %}

                            <ul class="list-group top-buffer">
                              {%for c in comments_entry %}
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-xs-10 col-md-11">
                                            <div>

                                                <div class="mic-info">
                                                    Por: <b>{{c.author}}</b> {{c.submit_date}}
                                                </div>
                                            </div>
                                            <div class="comment-text">
                                              {{c.comment}}
                                            </div>

                                        </div>
                                    </div>
                                </li>
                                    {% endfor %}
                              </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}




{% block scripts %}
    {% include "_scripts.html" %}
      {% if request.user.is_authenticated %}
    {% user_rating_js request.user entry %}
    {% endif %}
{% endblock %}
