{% load i18n %}
{% load account_tags %}


<ul class="nav navbar-nav pull-right">

    {% if request.user.is_authenticated %}
        <p class="navbar-text">
            <i class="fa fa-user"></i> {% user_display request.user %}
        </p>
        <li>
            <a href="{% url 'map'%}?q=">Mapa</a>
        </li>
        <li>
            <a href="{% url 'start'%}"> Busqueda </a>
        </li>
        <li>
            <a href="{% url 'account_settings' %}"><i class="fa fa-cog"></i> {% trans "Configuración" %}</a>
        </li>
        <li>
            <a  href="{% url 'account_logout' %}"><i class="fa fa-power-off"></i> {% trans "Salir" %}</a>
        </li>

    {% else %}
        <li><a href="{% url 'account_login' %}">{% trans "Entrar" %}</a></li>

        {% comment %}
        {% if ACCOUNT_OPEN_SIGNUP %}
            <li><a href="{% url 'account_signup' %}">{% trans "Registrarse" %}</a></li>
        {% endif %}
        {% endcomment %}
    {% endif %}
    

</ul>

        
    

