{% load pinax_ratings_tags %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeLVUfVv8teQayrXLDWqTMzf4f-87g2tc" type="text/javascript"></script>

{% include "_scripts.html" %}

<script type="text/javascript"
src="http://cdn.jsdelivr.net/gmap3/7.0.0/gmap3.min.js">
</script>
<script type="text/javascript"
src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js">
</script>
{% verbatim %}
<script id="entry-template" type="text/x-handlebars-template">
  <div class="entry">
    <b>{{title}}</b>
    <div class="body">
      {{content}}
    </div>
    <a href="{{pub_url}}">Ir a detalles</a>
  </div>
</script>
{% endverbatim %}
<script type="text/javascript">

var source   = $("#entry-template").html();
var template = Handlebars.compile(source);

  $(document).ready(function(){
    console.log("map works");

    $("#map_custom").width("100%").height("600px").gmap3({
        center:[23.386092,-111.5558421],
        zoom:4
      })
      .marker(markers)
      .on({click:function(marker, event){
        var entry_id = marker.data.id;
        console.log(marker);
        $.getJSON(URL_DETAIL,{id:entry_id}).success(function(response){
              console.log(response,marker);
              var map = marker.map;
              var infowin = new google.maps.InfoWindow();
              if (infowin) {
                infowin.open(map, marker);
                var html = template(response);
                console.log(response, html)
                infowin.setContent(html);
              }
            });
      }});
      //.cluster(cluster);

  });
</script>
