
<script type="text/javascript" src='/site_media/static/js/site-5e73bbeeb0.js'></script>

<script type="text/javascript" src='/site_media/static/chosen/chosen.jquery.js'></script>


<script>
    $(document).ready(function(){

        $("#select_estados").chosen();

        $("#reset").on("click", function(){

            $("#form_search input").val("");
            $("#form_search select").val("");

        });
    });

</script>


