<link href='/site_media/static/css/site-e7b87bbea0.css' rel='stylesheet' />
<link href="/site_media/static/chosen/chosen.css" rel='stylesheet' />
<link href="//bootswatch.com/united/bootstrap.min.css" rel='stylesheet' />
<style media="screen">
.top-buffer { margin-top:20px; }
.highlight {color:red; text-decoration: bold;}
.highlight2 {color:blue; text-decoration: bold;}
.navbar {
    
    color:#A1D490 ; border-color:#A1D490; background-color: #A1D490; height:90px;
}
 .nav {
    padding-top:15px;
    padding-bottom:10px;
    font-size:20px;
 }

/* .navbar-brand { background-image: url("/site_media/static/logo.png"); width:275px; font-size:0; }*/
 .navbar-brand { background-image: url("/site_media/static/nuvo.png"); font-size:0; width:138px; padding-top:10px; margin-top:10px;}
 body{
     /* -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;*/
           background-size: contain;
     background: url("/site_media/static/porcino-1.jpg")  no-repeat 50% 50% fixed; 
           
	height: 100%;
	margin:0px;
}
section {
 min-height: 100%;
  margin-top:30px;
}
/*footer {
 background-image: url("/site_media/static/footer2.png");      
background-size: 100% 100%;
  width: 100%;
height: 60px;
  }
*/
#select_estados
 {
    width:500px;
}

#form_search input {
    width:499px;
}

.input-padding {
    padding-top: 7px;
    padding-bottom: 7px;

}
.logonuvo {
    float:right;
    margin-right:150px;
}
.block-center {
text-align:center;
}
.main {
	min-height:100%;
height: auto !important;
    margin: 0 auto -60px;
}

</style>

