{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}pinax-project-account{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
    <section class="jumbotron">
        <div class="container">
            {% include "_messages.html" %}
            <h1 class="block-center" style="text-align:center;">{% blocktrans %}Bievenido a Biosecure{% endblocktrans %}</h1>
            <p class="block-center">
                {% blocktrans %}
                Sistema auxiliar de monitoreo y prevención de riesgos epidemiologicos en granjas porcicolas.
                {% endblocktrans %}
            </p>
          
        </div>
    </section>
    <section>
        <div class="container">
            <div class="text-center padding">
                <img src="/site_media/static/logo.png">
            </div>

            
            

            <p class="lead block-center">
                {% blocktrans %}
                Solución tecnologica desarrollada por Nuvó Business and Innovation Center, que usa las tecnologias de la información para aumentar la competividad del sector.
                {% endblocktrans %}
            </p>
            <div class="feature-columns">
                <div>
                    <i class="fa fa-cubes fa-3x"></i><br>
                    {% blocktrans %}
                    Aumenta la bioseguridad de tu granja.
                    {% endblocktrans %}
                </div>
                <div>
                    <i class="fa fa-puzzle-piece fa-3x"></i><br>
                    {% blocktrans %}
                    Tecnifica tus controles internos.
                    {% endblocktrans %}
                </div>
                <div>
                    <i class="fa fa-tint fa-3x"></i><br>
                    {% blocktrans %}
                   Aumenta tu información para la toma de desiciones.
                    {% endblocktrans %}
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container text-center bold">
            <a href="email:contacto@nuvobic.com.mx">
                <b>
                Más información en: contacto@nuvobic.com.mx
                </b>
            </a>
        </div>
        </div>
    </section>

{% endblock %}
