{% extends "theme_bootstrap/base.html" %}
{% load staticfiles pinax_ratings_tags %}
{% load metron_tags %}
{% load i18n %}

{% block head_title_base %}BioSecure{% endblock head_title_base %}

{% block styles %}
    {% include "_styles.html" %}
{% endblock %}
{% block topbar_base %}
    <header>
        <div class="navbar navbar-default {% block navbar_class %}navbar-fixed-top{% endblock %}">
            <div class="container">
            {% block topbar %}
                <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="fa fa-bars"></span>
                    </button>
                    {% block site_brand %}<a class="navbar-brand" href="{% url "home" %}">{{ SITE_NAME }}</a>{% endblock %}
                </div>
                <div class="collapse navbar-collapse navbar-responsive-collapse">
                    {% block nav %}
                    {% endblock %}
                    {% block account_bar %}{% include "_account_bar.html" %}{% endblock %}
                </div>
            {% endblock %}

            </div>
            <!-- img src="/site_media/static/nuvo.png" class="logonuvo"-->
        </div>
       
    </header>
{% endblock %}

{% block wrapper_class%}main{% endblock %}

{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}


{% block footer %}
    {% include "_footer.html" %}
{% endblock %}


{% block scripts %}
    {% include "_scripts.html" %}
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}
