<ion-view view-title="Inicio">
  <ion-content class="padding">
 <section class="jumbotron">
        <div class="container">
          
            <h1>Bievenido a biosecure</h1>
            <p>
                
                Sistema auxiliar de monitoreo y prevención de riesgos epidemiologicos en granjas porcicolas.
                
            </p>
            
        </div>
    </section>
    <section>
        <div class="container">
            <div class="text-center padding">
                <img src="http://biosecure.soypython.ninja/site_media/static/logo.png">
            </div>

            
            

            <p class="lead">
            
                <b>Biosecure</b> Solución tecnologica desarrollada por nuvo busines and innovation center, que usa las tecnologias de la información para aumentar la competividad del sector.
            
            </p>
            <div class="feature-columns">
                <div>
                    <i class="fa fa-cubes fa-3x"></i><br>
            
                    Aumenta la bioseguridad de tu granja.
            
                </div>
                <div>
                    <i class="fa fa-puzzle-piece fa-3x"></i><br>
            
                    Tecnifica tus controles internos.
            
                </div>
                <div>
                    <i class="fa fa-tint fa-3x"></i><br>
            
                   Aumenta tu información para la toma de desiciones.
            
                </div>
            </div>
        </div>
    </section>
    

   
  </ion-content>
</ion-view>
